.shorterurl {
    margin-top: 50px;
    padding: 80px 4%;

    /* ALIGN CENTER ITENS */
    align-items: center;
    min-width: 100%;

    /* BACKGROUND */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.shorterurl p {
    color: white;
    font-size: 12.5px;
}

/* TITLE */
.shorterurl-title {
    padding: 3% 0;
}

.shorterurl-title h1 {
    color: white;
    font-size: 30px;   
}

/* BUTTON */
.shorterurl-btn {
    width: 40%;
    padding: 2%;
    margin: 0 30%;
    font-size: 12.5px;
    background: #57b846;
    color: white;
    text-transform: uppercase;
}