.header {
    box-shadow: 0 0 5px black;
    padding: 0 1%;
    background: #ffffff;
    
    /* FIXED */
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* MENU AND TOP */
.header-top {
    width: 10%;
    margin: 3.75% 1%;
    padding: 2% 1.5%;
    border-radius: 2.5px;
    float: right;

    color: white;
    background: black;
}

/* IMAGE */
.header-img {
    padding: 2.75% 3%;
    width: 86%;
}

.header-img img {
    width: 28%;
    float: left;
}

/* MEDIA SCREEN */
@media screen and (min-width: 1024px) {
    .header {
        padding: 0;
    }

    .header-menu {
        display: none;
    }

    .header-menu {
        padding: 1%;
        margin: 2% 1%;
    }

    /* TOP */
    .header-top {
        float: right;
        width: 3.5%;
        padding: 1%;
        margin: 1%;
    }

    .header-top i {
        font-size: 20px;
    }

    /* IMG */
    .header-img {
        padding: 1%;
        float: left;
    }

    .header-img img {
        width: 10%;
        float: left;
    }
}