@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

html {
	position: relative;
  	height: 100%;
}

* {
  	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	font-weight: normal;
	scroll-behavior: smooth;
}

body {
  	background-color:#ffffff;
	font-family: Poppins!important;
	color: black!important;
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
}

/* CONTAINER */
.container {
	float: left;
	width: 100%;
	padding: 3% 4%;
	text-align: center;
}

/* BUTTON */
button {
	font-family: 'Poppins', sans-serif!important;
	cursor: pointer;
}

/* FORM */
input {
	font-family: 'Poppins', sans-serif;
	padding: 2%;
	font-size: 10px;
	width: 100%;
}

input::placeholder {
	font-family: 'Poppins', sans-serif!important;
}